/* Extra small devices (phones, from 374px  to 600px) */

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
    .xs-block {
        display: block;
        /* εμφανίζει ένα πλαίσιο*/
    }
    .xs-none {
        display: none;
        /*κάνει hide , κρύβει ένα πλαίσιο*/
    }
    .col-xs-1 {
        width: 8.333333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-2 {
        width: 16.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-4 {
        width: 33.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-5 {
        width: 41.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-7 {
        width: 58.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-8 {
        width: 66.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-10 {
        width: 83.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-11 {
        width: 91.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xs-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
    .s-block {
        display: block;
        /* εμφανίζει ένα πλαίσιο*/
    }
    .s-none {
        display: none;
        /*κάνει hide , κρύβει ένα πλαίσιο*/
    }
    .col-s-1 {
        width: 8.333333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-2 {
        width: 16.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-4 {
        width: 33.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-5 {
        width: 41.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-7 {
        width: 58.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-8 {
        width: 66.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-10 {
        width: 83.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-11 {
        width: 91.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-s-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
    .m-block {
        display: block;
        /* εμφανίζει ένα πλαίσιο*/
    }
    .m-none {
        display: none;
        /*κάνει hide , κρύβει ένα πλαίσιο*/
    }
    .col-m-1 {
        width: 8.333333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-2 {
        width: 16.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-4 {
        width: 33.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-5 {
        width: 41.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-7 {
        width: 58.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-8 {
        width: 66.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-10 {
        width: 83.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-11 {
        width: 91.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-m-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
    .l-block {
        display: block;
        /* εμφανίζει ένα πλαίσιο*/
    }
    .l-none {
        display: none;
        /*κάνει hide , κρύβει ένα πλαίσιο*/
    }
    .col-l-1 {
        width: 8.333333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-2 {
        width: 16.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-4 {
        width: 33.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-5 {
        width: 41.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-7 {
        width: 58.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-8 {
        width: 66.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-10 {
        width: 83.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-11 {
        width: 91.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-l-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .xl-block {
        display: block;
        /* εμφανίζει ένα πλαίσιο*/
    }
    .xl-none {
        display: none;
        /*κάνει hide , κρύβει ένα πλαίσιο*/
    }
    .col-xl-1 {
        width: 8.333333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-2 {
        width: 16.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-3 {
        width: 25%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-4 {
        width: 33.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-5 {
        width: 41.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-6 {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-7 {
        width: 58.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-8 {
        width: 66.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-9 {
        width: 75%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-10 {
        width: 83.33333333%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-11 {
        width: 91.66666667%;
        float: left;
        box-sizing: border-box;
    }
    .col-xl-12 {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.container-fluid {
    /* η γραμμή θα καταλαμβάνει όλη την οθόνη, όλο το πλάτος της οθόνης */
    width: 100%;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}